

@{
    ViewBag.Title = "Index";
    
}



<h2>Category (Income & Expense)</h2>


<div>
    <div>
        @Ajax.ActionLink("New Category", "Create", "Category", new {}, new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "RightPane" })
        @Ajax.ActionLink("View Category", "List", "Category", new {}, new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "RightPane" })
    </div>
 <div id="RightPane" class="minorContent">
    @Html.Action("List","Category")
 </div>
</div>