@model Domain.family

@{
    ViewBag.Title = "Details";
}


<div class="panel">
<h2 class="center-text">View Family Report</h2>

<div>
    <div class="editor">
        <strong class="float-left">Category</strong>
        @Html.DropDownList("FamilyListSearch", ViewBag.FamilyList as SelectList,"Select by Family...")
    </div>
</div>


<div class="FamilyData">
@Html.Action("List", "Family", new {bdate=@ViewBag.BeginDate,edate=@ViewBag.EndDate,code="ActiveFamilySearch" })
</div>
</div>
<script type="text/javascript">

    $(document).ready(function () {

        $("#FamilyListSearch").change(function (event) {
            var familyid = $('#FamilyListSearch option:selected').val();
            var url = "/Family/FamilyMemberList";
            $.get(url, { familyID: familyid }, function (data) { $(".FamilyData").html(data) });

        });


    });

 </script>