@{
    ViewBag.Title = "About Us";
}

<div class="row no-gutter">
    }
}

    <div   class="col-xs-12 col-sm-6 col-md-8">
    <div class="row no-gutter">
    <div class="col-xs-12 col-sm-12 col-md-12 visible-sm visible-md visible-lg">
    <div id="AboutUsPane" class="panelSmall" >
<h1>About US</h1>
    <h2>Brief History</h2>
<p style="text-indent:50px;"> On October 5, 1986 fifteen people, (Selena Booney, Elma Brandy, Peter Brew, Glardeya Diggs, Naenae G. Diggs, Albert George, Hilda Graham, Charles Harris, Queeta Harris, Arthur Kai, Leonardo Lucier, Roseline Roberts, Gloria Dennis-Trotman, and Esther Walters) met at the home of Rev. and Mrs. William Harris, 3535 Lawrenceville Highway #F2 in Tucker, Georgia to discuss a vision given to Rev. Harris by the Almighty God.  At this meeting Rev. Harris shared what has become the ICF vision and what the Lord said - to establish a ministry to meet the spiritual, cultural and social needs of people of various nationalities.  Prior to the organization of ICF, Rev. Harris served at Fort Street United Methodist Church in Atlanta under the leadership of Rev. Dr. Robert C. Stovall. 
<p />
    <p  style="text-indent:50px;">
After in-depth discussions, the group of fifteen accepted the challenge to establish the church.  Rev. Harris was elected pastor and volunteered to serve for a year without pay.  Several meetings were held thereafter, including the one held at 653 Beckwith Street, SW on October 19, 1987 in the chapel of Gammon Theological Seminary.  At this meeting, the name International Christian Fellowship was approved and the date for the first worship service was set. 
<p />
    <p  style="text-indent:50px;">
On October 26, 1986, the first worship service was held in the small chapel of Interdenominational Theological Center (ITC) located at 671 Beckwith Street, SW Atlanta with a total of 57 people attending.  On June 7, 1987 worship services were relocated to Westhill Presbyterian Church, 1450 Gordon Street (now Ralph D. Abernathy Blvd) with the support and cooperation of Rev. John Sharp, pastor of Westhill. 
<p />
    <p  style="text-indent:50px;">
On July 8, 1987 International Christian Fellowship was duly incorporated as a non-profit organization in the state of Georgia.  On September 16, 1990, a groundbreaking ceremony was held on the four acres of land purchased in March of 1989.  On August 30, 1992, the congregation relocated from Westhill to its property on Humphries Drive temporarily and services were held in a tent for two years.  This only showed how determined the congregation was to fulfill the “instructions” given their shepherd by God.   Later that year, a detailed plan was developed to commence construction of a mission-campus which would house a training center, an Afro-centric daycare center, cultural and resource center as well as living quarters for housing new arrivals to the United States.  This program would aid in the smooth transition of the new arrivals from their cultural into their new environment. 
<p />
    <p  style="text-indent:50px;">
On October 9, 1994, worship services were moved to Mozley Park Community Center, 1565 Martin Luther King Jr. Drive until March 29, 1999 when we relocated to Greater Bethlehem Temple Church 3099 Humphries Drive SE, Atlanta adjacent to the ICF property which was under construction.  The first service at Greater Bethlehem Temple was on April 4, 1999.  Our worship hour was changed to 12 pm instead of 11 am to accommodate both congregations. 
<p />
    <p  style="text-indent:50px;">
We were excited when the “ICF ARK” finally landed home (our current worship center) after many years of being a “nomadic church” on October 3, 1999 and we held our first service in our multi-purpose building at 3076 Humphries Drive, SE. On August 5, 2007 ICF dedicated it’s large multi-purpose facility on the ICF campus facing School Dr.ve.  Our ministry continue to expand and we are grateful to Almighty God for the opportunities now and then to be instruments of His peace, love and service as we journey through this strange land. 

</p>

</div>
    </div>
     <div class="col-xs-12 col-sm-12 col-md-12 visible-sm visible-md visible-lg">
             <div id="AboutUsPanex" class="panelSmall" >
<h2>Major Period of ICF History</h2>
<p>
    <strong>THE PRE-ICF YEARS</strong>
                          -Fort Street UMCH, Atlanta, Georgia - 1982-1986
-Rev. Dr. Chief Robert C. Stovall (Various Services Were Held At Fort Street)
    <br /><br />
    <strong>THE ITC YEARS</strong>
                   -ITC, Atlanta, Georgia - 1986-1987
-Rev. Dr. Chief James H. Costen (Services Were Held In Small Chapel At No Charge)
    <br /><br />
    <strong>THE WESTHILL YEARS</strong>
     -Westhill Presbyterian Church, Atlanta, Georgia - 1987-1992
-Rev. Dr. Chief John Sharp (Worship Services Were Held In Chapel)
-Rev. Dr. Mark Lomax  (Worship Services Were Held In Chapel)
        <br /><br />
    <strong>THE TENT YEARS</strong>
               -ICF Property, Atlanta, Georgia -  1992-1994
-The ICF Family (Services/Meetings Were In The Tent For Two Years)
        <br /><br />
    <strong>THE DSUMC YEARS</strong>
                        -Dodd Sterling United Methodist Church, Atlanta, Georgia - 1995-Present
-Rev. Chief Robert L. Melson, Sr. (Services/Meetings Were Held At No Charge / Joint-Computer Center)
        <br /><br />
    <strong>THE SOL YEARS </strong>
                 -Seal of Life Church, Norcross, Georgia - 1997-2000
-Rev. Dr. O. Peter Obafemi  (Services/Meetings/Revivals Were Held At No Charge)
        <br /><br />
    <strong>THE MOZLEY PARK YEARS</strong>
         -Mozley Park Community Center, Atlanta, Georgia - 1994-1999
-Brother Michael Sewell  (Services/Meetings Were Held At The Community Center)
        <br /><br />
    <strong>THE GBTC YEARS</strong>
               -Greater Bethlehem Temple Church, Atlanta, Georgia - 1999-2000
-Elder R. A. Pulliam  (Services/Meetings Were Held In Chapel along with Computer Labs
    <br /><br />
    <strong>THE ICF CAMPUS YEARS</strong>
  -The ICF Campus, Atlanta, Georgia - 1999-Present
-Paved Parking Lot In  2000
-Purchased A Large Lot On School Drive – 2000
- Purchased A Large & Small Lot On School Drive – 2003
</p>

</div>
     </div>
        </div>
</div>
<div class="col-xs-12 col-sm-6 col-md-4">
    <div class="panelSmall2" style="width:100%">
<h2 class="center"><u><b>COMMISSION STATEMENT</b></u></h2>
<p>
“Go ye therefore and teach all nations…”  Matthew 28:19
   </p>

    <h2 class="center"><u><b>
        SPIRITUAL PILLARS
    </b></u></h2>
    <p class="center">
         (Based on Psalm 137 and Jeremiah 29: 1 - 7)
            </p>
    
        <p><b>Spiritual Focus </b> - Preaching/ Teaching the Word / Fasting / Praying / Worship</p>
        <p><b>Cultural Focus </b> - Culture Awareness / Educational & Family Values / Unity</p>  
        <p><b>Social Focus </b> - Fellowship & Sharing / KUU Concepts / Socialization</p>
        <p><b>Economic Focus </b> - Business Ventures / Networking / Technical Training / Susu</p>



    <h2 class="center"><u><b>MISSION STATEMENT</b></u></h2>
    <p>OUR MISSION STATEMENT based on the Commission & Pillars (Vision)
To be instruments of God’s Love and Mercy:

    To grow spiritually and be culturally enriched; economically empowered.
    To work and walk in the footsteps of Jesus Christ.
    To plant spiritual seeds for Christian Discipleship to the world.
</p>

    <h2 class="center"><u><b>Moto</b></u></h2>
    <p>OUR MOTTO the Foundation for the Vision
“Where there is no vision, the people shall perish…..”  Proverbs 29: 18</p>

    <h2 class="center"><u><b>OUR NATURE</b></u></h2>
    <p>
    Christ-centered & Christ-like
    International and Interdenominational</p>

    <h2 class="center"><u><b>OUR MANDATE</b></u></h2>
    <p>
The church of ordinary people with an extra-ordinary mission</p>

    <h2 class="center"><u><b>OUR LOGO</b></u></h2>
    <p>OUR LOGO under girding our commission / vision / mission

    The Cross – The Cross of Redemption / Liberation / Victory rooted in Christ
    The Globe – Our world as a global village
    The Hands – The hands of God upholding ICF and the world
    The Map - The map of Africa reminds us of our African heritage</p>

    <h2 class="center"><u><b>OUR ODE</b></u></h2>
    <p>OUR ODE Written by Rev. Harris July 29 1996 (Glory and Praise to God)
“We thank God for ICF”</p>

    <h2 class="center"><u><b>OUR COLORS</b></u></h2>
    <p>    The Green -  signifies courage / green pastures and trust in God
    The White -  signifies hope / striving for perfection and holiness</p>

    <h2 class="center"><u><b>OUR PROVERBS</b></u></h2>
    <p>“When two elephants fight – the grass suffers!” – when the church members fight – the ministry suffers
    “A single stick is easy to break but its hard to break a bunch” -  a home / family (church) divided can’t stand.</p>


    
    <h2 class="center"><u><b>OUR BIRD - The Dove</b></u></h2>
    <p>The dove represents and reminds us of the Holy Spirit and God’s promises</p>


    <h2 class="center"><u><b>Our Tree</b></u></h2>
    <p>OUR TREE (The tropical palm tree) is versatile and resourceful.</p>

    <h2 class="center"><u><b>The Palm Tree</b></u></h2>
    <p> The Palm Tree – represents vigil, endurance, productivity, and resources
    The White – signifies hope  / striving for perfection and holiness</p>
   
    <h2 class="center"><u><b>Our Biblical Verses</b></u></h2>
    <p>OUR BIBLICAL VERSES under girding our commission and vision:
    <i>Philippians 4: 13 “I can do all things through Christ who strengthens me”</i>
    <i>Romans 8:31  “If God be for us, who can be against us?”</i></p>



</div>
    </div>
    </div>
