@{
    ViewBag.Title = "HowToInstructions";
}


<div class="panel">
    <h2 class="center">About the Website</h2>
<strong>Major Sections</strong>
    <p>
The web application contains the following database tables:
Membership Management
Member Records
Family Records
Financial Management
Income Records
Expense Records
Contribution Records
Pledge Records
Bank records
Budget Records	
Administrative Management
Attendance Records
Announcement Records
Document Records
Data Table Records
Event Records
Goal Records
Meeting Records
Ministry Records
Picture Records
Property Records
Story Records (News)
Task Records
Video Records
Visitor Records
        </p>
<strong>Role</strong>
    <p>
The website contains ten (10) active roles with various level of access authentication and authorization. Every user to the website is assigned one of these roles and are restricted according to the permission of their role.
The ten (10) roles are:
Admin
Admin2
Pastor
Leader
Finance Lead
Finance Staff
Member
Register
Web Master 
Staff 
</p>
<strong>Admin Role</strong>
    <p>
The admin role is the most active role apart from the webmaster. The admin has unrestricted access to every function of the website. He is the owner of the site and grant permission accordingly. He has access to all three major sections of the website: membership management, finance management and administrative management.
The admin has power to grant, change or revoke user permission.
        </p>
    <strong>
Admin2 Role
        </strong>
<p>
The admin2 role is a step down of the admin role. He is like the admin with some restrictions. He has access to certain financial tools.
</p>
    <strong>
Pastor Role
        </strong>
    <p>
The Pastor role has equal permission as the admin role apart from assigning and revoking user roles. He has access to all functions of the website: administrative management, financial management and membership management.
</p>
    <strong>
Leader Role
            </strong>
    <p>
The role of leader is reserved for a head of a ministry. The person is a member of a ministry and manages the ministry. He have the permission to create and update the below functional records of a ministry. The records created by the leader has “In-Active” status that must be updated to “Active” status by the admin. “In-Active” records are only viewable by the leader and admin roles. List of ministry records:
Announcement Records
Calendar Records
Data Table Records
Document Records
Meeting Records
Picture Record
Story Records
Video Records
Ministry Income & Expense Records
Ministry Members Records
Event Records
        </p>
    <strong>
Finance Lead Role
                    </strong>
    <p>
The finance lead has access to all finance records. He can perform all functions of the financial management. He can not perform any other service.
        </p>
    <strong>
Finance Staff
                            </strong>
    <p>
The finance staff can perform certain functions of the financial management activities. He can enter income records, insert and edit member contributions, all minor financial services.
        </p>
    <strong>
Member Role
                                    </strong>
    <p>
The member role is a general and basic role give to all user of the website who are member of the church. A member must be an active member. The member has access to the member page with contains the following content:
Member Name
Member Address
Member Email
Member Phone
member Pledge
Member Contribution
Member Ministries
All Ministries Access
Church Newsletter
Change Password
Upcoming Events
         </p>
    <strong>
Registration Role
         </strong>
    <p>
Default role assigned to all member who has not access the website. This member is waiting to register.
        </p>
    <strong>
Staff Role
         </strong>
    <p>
The staff role is currently not used
          </p>
    <strong>
Web Master Role
         </strong>
    <p>
The webmaster has privileged access to the website to upkeep the website.
        </p>
    </div>



