<br />
<br />
Hi @ViewBag.FullName,<br /><br />
Pasword reset message from International Christian Fellowship (ICF)!<br />
Your password has been reset. <br />
Please use this temporary password (@ViewBag.Password) to login to the site.  <br />

Thanks you,<br />
Management <br />
<a href="http://www.icfm-atlanta.org">www.icfm-atlanta.org</a>