
<br />
<br />
Hi @ViewBag.Name,<br />
Welcome to International Christian Fellowship (ICF) Ministries website!<br />
We are exited to welcome you as a member of the <b>International Christian Fellowship</b><br />
Please login to the site using your email address as the user name and this temporary password (@ViewBag.Password).  <br />
Again, we are glad to welcome you!
<br />
Thanks you,<br />
Management <br />
<a href="http://www.icfm-atlanta.org">www.icfm-atlanta.org</a>