@model IEnumerable<Domain.listtable>

@{
    ViewBag.Title = "Index";
    
}



<h2 class="center-text">Ministry Center</h2>
<br />

    <div>
        @Ajax.ActionLink("Add Table", "Create", "ListTable", new {}, new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "RightPane" })
        @Ajax.ActionLink("View Tables", "Details", "ListTable", new {}, new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "RightPane" })
    </div>

<div id="RightPane">
@Html.Action("List", "ListTable", new {Status="Active" })
</div>

<script type="text/javascript">

    $(document).ready(function () {
        $('.datepicker').not('.hasDatePicker').datepicker();

    });

 </script>
