@{
    ViewBag.Title = "Detail";
}

<div class="body">
<div id="tabs" class="minorheader">
  <ul>
    <li><a href="#tabs-1">Finance</a></li>
    <li><a href="#tabs-2">Ministry</a></li>
    <li><a href="#tabs-3">Admin</a></li>
    <li><a href="#tabs-4">Member</a></li>
    <li><a href="#tabs-5">Gift Shop</a></li>
  </ul>
  <div id="tabs-1">
      <nav>
          <ul>
              <li><a href="#" class="BillClick">Billing</a></li>
              <li><a href="#">Income</a></li>
              <li><a href="#">Expense</a></li>
              <li><a href="#">Billing</a></li>
              <li><a href="#">Billing</a></li>
              <li><a href="#">Billing</a></li>
              <li><a href="#">Pledge</a></li>
              <li><a href="#">Banking</a></li>
              <li><a href="#">Budget</a></li>
          </ul>
      </nav>
   </div>
  <div id="tabs-2">
        <nav>
                  <ul>
                      <li><a href="#">Education</a></li>
                      <li><a href="#">Financial</a></li>
                      <li><a href="#">Programatic</a></li>
                      <li><a href="#">Service</a></li>
                      <li><a href="#">Evangelism</a></li>
                      <li><a href="#">Outreach</a></li>
                      <li><a href="#">Culture</a></li>
                      <li><a href="#">Media</a></li>
                      <li><a href="#">Music</a></li>
                  </ul>
              </nav>  
  </div>
  <div id="tabs-3">
        <nav>
                  <ul>
                      <li><a href="../Document/Index">Documents</a></li>
                      <li><a href="#">Staff</a></li>
                      <li><a href="#">Property</a></li>
                      <li><a href="#" class="CategoryClick">Category</a></li>
                      <li><a href="#">Visitors</a></li>
                      <li><a href="#">Picture & Video</a></li>
                      <li><a href="#" class="ConstantClick">Constant</a></li>
                  </ul>
              </nav>    </div>
  <div id="tabs-4">
        <nav>
                  <ul>
                      <li><a href="#">Family</a></li>
                      <li><a href="#">Members</a></li>
                      <li><a href="#">Phone List</a></li>
                      <li><a href="#">Email List</a></li>
                      <li><a href="#">Attenadnce</a></li>
                  </ul>
              </nav>  

      </div>
  <div id="tabs-5">
        <nav>
                  <ul>
                      <li><a href="#">Products</a></li>
                      <li><a href="#">Sales</a></li>
                  </ul>
              </nav>  

      </div>
</div>
    <div class="PaneCenter" style="background-color:pink;">

    </div>
</div>
<script type="text/javascript">
    $(function () {
        $("#tabs").tabs({
            event: "mouseover"
        }); 

        $("a.BillClick").click(function (event) {
            event.preventDefault();
            var url = "/Bill/Index";
            $.get(url, {}, function (data) { $(".PaneCenter").html(data) });
        });

        $("a.ConstantClick").click(function (event) {
            event.preventDefault();
            var url = "/Constant/Index";
            $.get(url, {}, function (data) { $(".PaneCenter").html(data) });
        });

        $("a.CategoryClick").click(function (event) {
            event.preventDefault();
            var url = "/Category/Index";
            $.get(url, {}, function (data) { $(".PaneCenter").html(data) });
        });
/*
        $("a.BorrowerCreateClick").click(function (event) {
            event.preventDefault();
            var url = "/Borrower/Index";
            $.get(url, {}, function (data) { $(".ContentPane").html(data) });
        });

        $("a.LoanClick").click(function (event) {
            event.preventDefault();
            var url = "/Loan/Index";
            $.get(url, {}, function (data) { $(".ContentPane").html(data) });
        });

        $("a.ConstantClick").click(function (event) {
            event.preventDefault();
            var url = "/Constant/Index";
            $.get(url, {}, function (data) { $(".ContentPane").html(data) });
        });

        $("a.SupervisorClick").click(function (event) {
            event.preventDefault();
            var url = "/Supervisor/Index";
            $.get(url, {}, function (data) { $(".ContentPane").html(data) });
        });

        $("a.BankingClick").click(function (event) {
            event.preventDefault();
            var url = "/BankAccount/Index";
            $.get(url, {}, function (data) { $(".ContentPane").html(data) });
        });

        $("a.ReportClick").click(function (event) {
            event.preventDefault();
            var bDate = $("#BeginDate").val()
            var eDate = $("#EndDate").val()
            var url = "/BankAccount/GroupDividendReport";
            $.get(url, {bDate: bDate.toString(), eDate:eDate.toString()}, function (data) { $(".ContentPane").html(data) });
        });
        */
    });

  </script>

