@{
    ViewBag.Title = "Ministry";
  //  Layout = "~/Views/Shared/_Layout3.cshtml";
}




<div id="content2">
    <h2 class="center">My Ministry</h2>
        @Html.Action("MyMinistry", "Ministry", new {ministryID=1})

    </div>