<html>
	<head>
        <style type="text/css">
            div { font-family:Verdana, Arial, Sans-Serif; font-size:14px; }
            #mail-message { padding:10px; }
            #mail-footer { padding:10px; }
        </style>
        <title></title>
    </head>
    <body>
    <div id="mail-message">
        @RenderBody()
    </div>
        <!--
    <div id="mail-footer">
        This e-mail is intended for the use of the addressee(s) only and may contain privileged, confidential, or proprietary information that is exempt from disclosure under law. If you have received this message in error, please inform us promptly by reply e-mail, then delete the e-mail and destroy any printed copy. Thank you.
    </div>
            -->
    </body>
</html>