@{
    Layout = "~/Views/UserMailer/_LayoutText.cshtml";
}

Hi @ViewBag.Name,<br />
Welcome to International Christian Fellowship (ICF) Ministries website!
Please using your phone number as the user name and this temporary password (@ViewBag.Password) to login.
<br />
Management<br />
<a href="http://www.icfm-atlanta.org">www.icfm-atlanta.org</a>