

@{
    ViewBag.Title = "Index";
    
}



<h2 class="center-text">Income Center</h2>
<br />

    <div>
        @Ajax.ActionLink("Add Income", "Create", "Income", new {}, new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "RightPane" })
        @Ajax.ActionLink("View Income", "Details", "Income", new {}, new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "RightPane" })
    </div>

<div id="RightPane">
@Html.Action("List", "Income", new {bdate=@ViewBag.BeginDate,edate=@ViewBag.EndDate,code="DateRangeSearch" })
</div>

<script type="text/javascript">

    $(document).ready(function () {
        $('.datepicker').not('.hasDatePicker').datepicker();

    });

 </script>