@{
    ViewBag.Title = "StoryCenteredPageLayout";
    Layout = "~/Views/Shared/_Layout3.cshtml";
}

<div id="container">
    <div id="header">
        <h1><a href="#">CSS Layout Tutorial</a></h1>
        <ul id="nav" class="clearfix">
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Portfolio</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Contact</a></li>
            
        </ul>
    </div>
    <div id="body" class="clearfix">
        <div class="main"> <div class="main-inner">
            <h2>My Subheading</h2>
            <p>Pig leberkas kevin bresaola frankfurter capicola drumstick tongue short ribs. Brisket bresaola chicken, kielbasa tail biltong filet mignon tri-tip meatball. Frankfurter turkey tri-tip, chicken ground round pastrami venison pancetta beef ribs. Alcatra meatloaf filet mignon, pancetta spare ribs beef corned beef bacon bresaola shank flank shoulder tail hamburger. Jowl tri-tip beef ribs tongue turkey biltong. Flank andouille shankle ham pork chop boudin. Flank kevin jerky rump, andouille salami pork ball tip cupim frankfurter.

Ham hock sausage jowl pig, fatback filet mignon frankfurter jerky kielbasa turducken. Bacon corned beef pork loin, sausage brisket porchetta alcatra. Boudin meatball cow shank pastrami ham bacon tail, pork chuck. Strip steak beef ribs biltong meatball sausage beef ham hock ball tip doner ham. Prosciutto doner jerky, corned beef turducken kevin beef. Chicken shankle pork chop pancetta short ribs meatloaf. Pork landjaeger tongue, pork chop ham hock bacon turducken venison.</p>

            <h2>Another Subheading</h2>
            <p>
                Pork belly chuck beef shank boudin jowl. Ball tip beef ribs bacon sausage, shankle ribeye tongue. Chicken t-bone ham hock cupim pork belly. Frankfurter cow pastrami bacon biltong andouille alcatra. Chicken sausage pork loin, andouille brisket swine drumstick spare ribs beef corned beef turducken pork belly beef ribs cow chuck.

Jowl meatloaf flank chuck ribeye. Kevin pork chop flank andouille ball tip tri-tip, doner pig ham hock rump ribeye pork. Short loin salami jowl ribeye turducken tongue corned beef pork loin ground round pork chop tri-tip tail leberkas. Jerky doner boudin beef ribs. Spare ribs swine ham biltong porchetta, kevin ball tip flank chuck shank tenderloin.
            </p>
        </div></div>
        <div class="side">
            <p>
                Bacon ipsum dolor amet jerky cupim sirloin tenderloin. Kielbasa pancetta landjaeger sirloin bacon, spare ribs ham prosciutto ham hock kevin. Short ribs cow spare ribs pork rump turkey pork loin. Tongue drumstick fatback, sausage kevin meatloaf jerky hamburger turkey andouille ham hock landjaeger pork loin pork chop doner.
            </p>
        </div>
    </div>
    <div id="footer2">
        <p>&copy; 2015 - All rights reserved.</p>
    </div>
</div>
