<script src="../../Scripts/jquery-1.7.1.min.js"></script>
<div id="name">        
    <div>
        <div id="title">
	<h1>International <br />Christian <br />Fellowship</h1>
<a href="../Home/Index"><img src="../../Content/Dreamweaver/images/icf%20logo1.png" style="width:180px; height:180px;"/></a>
            </div>
    <h3>Where there is no vision the people shall perish... Prov. 29:18</h3>
        
        </div>
</div>