@model IEnumerable<Domain.product>

@{
    ViewBag.Title = "Index";
    
}



<h2 class="center-text">Product Center</h2>
<br />

    <div>
        @Ajax.ActionLink("Add Product", "Create", "Product", new {}, new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "RightPane" })
        @Ajax.ActionLink("View Products", "Details", "Products", new {}, new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "RightPane" })
    </div>

<div id="RightPane">
@Html.Action("List", "Products", new {})
</div>

<script type="text/javascript">

    $(document).ready(function () {
        $('.datepicker').not('.hasDatePicker').datepicker();

    });

 </script>